html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222;
    color: #fff;
}

body {
    margin: 0.75em;
}

#open-sram-div {
    margin-bottom: 1.5em;
}

#file-data {
    display: flex;
    font-family: Courier, monospace;
}

#file-offsets {
    display: flex;
    flex-direction: column;
    margin-right: 0.75em;
}

.offsets-header, .bytes-header, .chars-header {
    background-color: #444;
}

#file-contents {
    margin-right: 0.75em;
}

#file-text span.chars-header, #file-text span.text {
    padding: 0.1em 0;
}

span.chars-header {
    padding: 0.1em 0;
}

.offset-header {
    margin-bottom: 0.75em;
}

.offset {
    background-color: #444;
    padding: 0.1em;
}

#file-data span {
    padding: 0.1em;
}

#file-bytes-header {
    display: flex;
    margin-bottom: 0.75em;
}

#file-chars-header {
    display: flex;
    margin-bottom: 0.75em;
}

.row {
    display: flex;
}

.bytes-header {
    background-color: #444;
}

#file-bytes {

}

.byte {

}

.byte:nth-child(8n-8), .bytes-header:nth-child(8n-8) {
    margin-right: 0.75em;
}

.byte:nth-last-child(1), .bytes-header:nth-last-child(1) {
    margin-right: 0;
}

.file-a {
    background-color: #600;
}
.file-a.backup {
    background-color: #622;
}

.file-b {
    background-color: #060;
}
.file-b.backup {
    background-color: #262;
}

.file-c {
    background-color: #006;
}
.file-c.backup {
    background-color: #226;
}

#file-text {
    margin-right: 0.75em;
}

#byte-info {
    margin-right: 0.75em;
}

.selected {
    background-color: #fff !important;
    color: #000 !important;
}

.selected-header {
    display: flex;
    margin-bottom: 0.75em;
}
