html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222;
    color: #fff;
}

body {
    margin: 0.75em;
}

#open-sram-div {
    margin-bottom: 1.5em;
}

#layout {
    display: flex;
}

#hex-editor {
    display: flex;
    font-family: Courier, monospace;
}

.row {
    display: flex;
}

/* columns */
#offsets-col {
    display: flex;
    flex-direction: column;
    margin-right: 0.75em;
}

#offsets-col span {
    display: block;
    padding: 0.1em;
}

#bytes-col {
    margin-right: 0.75em;
}

#bytes-col span {
    padding: 0.1em;
}

#chars-col {
    margin-right: 0.75em;
}

#chars-col span {
    padding: 0.1em 0;
}

/* headers */
.header {
    background-color: #444;
}

.offset {
    background-color: #444;
}

.offset.header {
    margin-bottom: 0.75em;
}

#bytes-header {
    display: flex;
    margin-bottom: 0.75em;
}

#chars-header {
    display: flex;
    margin-bottom: 0.75em;
}

/* 8 byte spacing */

.byte:nth-child(8n-8) {
    margin-right: 0.75em;
}

.byte:nth-last-child(1) {
    margin-right: 0;
}

/* region highlighting */
.file-a {
    background-color: #600;
}
.file-a.backup {
    background-color: #633;
}

.file-b {
    background-color: #060;
}
.file-b.backup {
    background-color: #363;
}

.file-c {
    background-color: #006;
}
.file-c.backup {
    background-color: #336;
}

.changed {
    background-color: #000 !important;
}

.selected {
    background-color: #fff !important;
    color: #000 !important;
}

/* important */
.hidden {
    display: none !important;
}

/* selected byte info */
#selection {
    border: 1px solid #888;
    padding: 0.5em;
}

#selection:empty {
    display: none;
}

.selection-data {
    display: block;
}

span.cursor {
    /* TODO: make this blink */
    background-color: #000;
}