html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222;
    color: #fff;
}

body {
    margin: 10px;

}

#file-data {
    display: flex;
    font-family: Courier, monospace;
}

.offset {
    background-color: #444;
}

#file-contents span {
    padding: 2px;
    
}

#file-header {
    background-color: #444;
}

#file-bytes {

}

.offset {
    padding-right: 10px;
}

.byte {
    
}

.file-a {
    background-color: #600;
}

.file-b {
    background-color: #060;
}

.file-c {
    background-color: #006;
}